<app-head></app-head>
<div class="container single-page blog-page">
    <div class="row">
        <div class="col-12">
            <div class="content-wrap">
                <header class="entry-header">
                    <div class="posted-date">
                        {{b.date}}
                    </div><!-- .posted-date -->

                    <h2 class="entry-title">{{b.title}}</h2>

                    <div class="tags-links">
                        <a href="#">#hungnm</a>
                        <a href="#">#doan</a>
                        <a href="#">#ltudm</a>
                        <a href="#">#ktht</a>
                    </div><!-- .tags-links -->
                </header><!-- .entry-header -->

                <figure class="featured-image">
                    <img src="{{b.imageUrl}}" alt="Ảnh bài viết">
                </figure><!-- .featured-image -->

                <div class="entry-content">
                    <p>{{b.content}}</p>
                </div><!-- .entry-content -->

                <blockquote class="blockquote-text">
                    <p>Đọc xong nếu thấy hay hãy để lại bình luận cho mình biết nhé. Cảm ơn các bạn !</p>
                </blockquote><!-- .blockquote-text -->

                <div class="row">
                    <div class="col-12 col-md-6">
                        <figure class="blog-page-half-img">
                            <img src="assets/images/comment.png" alt="">
                        </figure><!-- .blog-page-half-img -->
                    </div><!-- .col -->

                    <div class="col-12 col-md-6">
                        <figure class="blog-page-half-img">
                            <img src="assets/images/blog-img-2.png" alt="">
                        </figure><!-- .blog-page-half-img -->
                    </div><!-- .col -->
                </div><!-- .row -->

                <footer class="entry-footer flex flex-column flex-lg-row justify-content-between align-content-start align-lg-items-center">
                    <ul class="post-share flex align-items-center order-3 order-lg-1">
                        <label>Share</label>
                        <li><a href="https://www.facebook.com/hungghihi"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/manhhung317"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://github.com/manhhungpm"><i class="fa fa-github-alt"></i></a></li>
                        <li><a href="https://www.instagram.com/hungghihi/"><i class="fa fa-instagram"></i></a></li>
                    </ul><!-- .post-share -->

                    <div class="comments-count order-1 order-lg-3">
                        <a href="#">2 Comments</a>
                    </div><!-- .comments-count -->
                </footer><!-- .entry-footer -->
            </div><!-- .content-wrap -->

            <div class="content-area">
                <div class="post-comments">
                    <h3 class="comments-title">Comments</h3>

                    <ol class="comment-list">
                        <li class="comment" *ngFor="let comment of comments">
                            <div class="comment-body flex justify-content-between">
                                <figure class="comment-author-avatar">
                                    <img src="assets/images/user1.jpg" alt="user">
                                </figure><!-- .comment-author-avatar -->

                                <div class="comment-wrap">
                                    <div class="comment-author flex flex-wrap align-items-center">
                                        <span class="fn">
                                            <a>{{comment.userName}}</a>
                                        </span><!-- .fn -->

                                        <span class="comment-meta">
                                            <a>{{comment.dateComment}}</a>
                                        </span><!-- .comment-meta -->

                                        <div class="reply">
                                            <a></a>
                                        </div><!--.reply -->
                                    </div><!-- .comment-author -->

                                    <p>{{comment.text}}</p>

                                </div><!-- .comment-wrap -->
                            </div><!-- .comment-body -->
                        </li><!-- .comment -->

                    </ol><!-- .comment-list -->
                </div><!-- .post-comments -->

                <div class="comments-form">
                    <div class="comment-respond">
                        <h3 class="comment-reply-title">Nơi bình luận</h3>

                        <form class="comment-form" [formGroup]="commentForm" (ngSubmit)="onSubmit()">
                            <input type="text"  placeholder="Tên" formControlName="userName">
                            <!-- <input type="email" placeholder="Email"> -->
                            <!-- <textarea rows="18" cols="6" placeholder="Messages"></textarea> -->
                            <textarea id="summernote" formControlName="text"></textarea>
                            <input type="submit" value="Gửi đi">
                        </form><!-- .comment-form -->

                    </div><!-- .comment-respond -->
                </div><!-- .comments-form -->
            </div><!-- .content-area -->
        </div><!-- .col -->
    </div><!-- .row -->
</div><!-- .container -->
<app-foot></app-foot>