<div class="outer-container">
    <app-head></app-head>
    <div class="container-fluid">
        <app-banner [title]=title [background]="background"></app-banner>
        <app-ava></app-ava>
    </div>
</div>
<div class="container single-page about-page">
    <div class="row">
        <div class="col-12">
            <div class="content-wrap">
                <header class="entry-header">
                    <div class="posted-date">
                        July 4, 2016
                    </div><!-- .posted-date -->

                    <h2 class="entry-title">Giới thiệu 1 chút về bản thân nhỉ ;)</h2>

                    <div class="tags-links">
                        <a href="#">#winter</a>
                        <a href="#">#love</a>
                        <a href="#">#snow</a>
                        <a href="#">#january</a>
                    </div><!-- .tags-links -->
                </header><!-- .entry-header -->

                <figure class="featured-image">
                    <img src="assets/images/aa.jpg" alt="">
                </figure><!-- .featured-image -->

                <div class="entry-content">
                    <p>Xin chào mọi người, chắc khi bước vào đây mọi người cũng đã biết tên mình là gì rồi :"> Mình tên là Hưng,
                        hiện tại đang học tại lớp 60PM2 khoa Công nghệ thông tin trường Đại học Xây Dựng, Hà Nội
                    </p>

                    <p>Trang web này lập ra vì mình đã ấp ủ từ lâu là có 1 blog cá nhân riêng cho bản thân để có thể chia sẻ những 
                        kiến thức mình học được, kinh nghiệm của bản thân trong cuộc sống cũng như trong học tập và đi làm. Vì chưa 
                        có nhiều thời gian để phát triển nên trang blog chưa được đầy đủ cho lắm, nhưng đó cũng là 1 hướng để mình
                        hoàn thiện hơn nữa sau này
                    </p>
                    <figure class="about-second-image">
                        <img src="assets/images/vtcctbd.jpg" alt="">
                    </figure>
                    <p>Hiện tại mình là sinh viên năm 4(chuẩn bị ra trường rồi :>) và đang đi thực tập tại Trung tâm không
                        gian mạng Viettel VTCC. Sở thích thì bao gồm chơi game, nghịch máy tính, code, đánh đàn và 
                        chơi thể thao. Cũng đi thực tập bên ngoài khá sớm nên mình cũng biết kha khá ngôn ngữ nhưng bây giờ chỉ tập trung 
                        chính cho PHP Laravel và VueJS
                    </p>
                </div><!-- .entry-content -->
                <figure class="about-second-image">
                    <img src="assets/images/bd.jpg" alt="">
                </figure>
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .row -->

    <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="awards-content">
                <h3>3 giải 
                    nghiên cứu khoa học cấp trường </h3>
                <h5>Smart spinkling</h5>
                <h5>Xe tự lái</h5>
                <h5>Thiết bị đo không khí trong phòng</h5>
                <p>2016-2018</p>
            </div><!-- .awards-content -->
        </div><!-- .col -->

        <div class="col-12 col-md-6 col-lg-3">
            <div class="awards-content">
                <h3>Top 10 sinh viên đi trao đổi sinh viên</h3>
                <h4>Sakura</h4>
                <p>2018</p>
            </div><!-- .awards-content -->
        </div><!-- .col -->

        <div class="col-12 col-md-6 col-lg-3">
            <div class="awards-content">
                <h3>1 giải 
                    nghiên cứu khoa học cấp bộ</h3>
                <h4>Thiết bị đo nồng độ không khí</h4>
                <p>2018</p>
            </div><!-- .awards-content -->
        </div><!-- .col -->

        <div class="col-12 col-md-6 col-lg-3">
            <div class="awards-content">
                <h3>Sinh viên năm tốt cấp trường</h3>
                <h5>LCH trưởng khoa CNTT</h5>
                <p>2017-2018</p>
            </div><!-- .awards-content -->
        </div><!-- .col -->
    </div><!-- .row -->

    <div class="row">
        <div class="col-12">
            <footer class="entry-footer flex flex-column flex-lg-row justify-content-between align-content-start align-lg-items-center">
                <ul class="post-share flex align-items-center order-3 order-lg-1">
                    <label>Share</label>
                    <li><a href="https://www.facebook.com/hungghihi"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/manhhung317"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://github.com/manhhungpm"><i class="fa fa-github-alt"></i></a></li>
                    <li><a href="https://www.instagram.com/hungghihi/"><i class="fa fa-instagram"></i></a></li>
                </ul><!-- .post-share -->

                <div class="comments-count order-1 order-lg-3">
                    <!-- <a href="#">2 Comments</a>s -->
                </div><!-- .comments-count -->
            </footer><!-- .entry-footer -->
        </div><!-- .content-wrap -->
    </div><!-- .col -->
</div><!-- .container -->
<app-foot></app-foot>