<div class="outer-container">
    <app-head></app-head>
    <div class="container-fluid">
        <app-banner [title]="title" [background]="background"></app-banner>
        <app-ava></app-ava>
    </div>
</div>
<div class="container single-page contact-page">
    <div class="row">
        <div class="col-12 col-lg-9">
            <div class="content-wrap">
                <header class="entry-header">
                    <h2 class="entry-title">Contact me or just say HI</h2>

                    <div class="tags-links">
                        <a href="#">#60pm2</a>
                        <a href="#">#nuce</a>
                        <a href="#">#hanoi</a>
                        <a href="#">#vtcc</a>
                    </div><!-- .tags-links -->
                </header><!-- .entry-header -->

                <div class="entry-content">
                    <p>
                        Sau khi đọc được những blog trong trang web của tôi, chắc các bạn cũng hiểu được phần nào về
                        còn người
                        của tôi. Các bài viết đều dựa trên những quan điểm của cá nhân và kinh nghiệm của bản thân
                        trong quãng
                        thời gian đi học cũng như đi thực tập bên ngoài. Nếu có điều gì thắc mắc hay liên hệ thì hãy
                        phản hồi
                        lại cho mình nhé :D !
                    </p>
                    <br>
                    <br>
                    <p>
                        <i class="fa fa-map"></i> 16 Trần Quốc Toản, Hoàn Kiếm, Hà Nội
                    </p>
                    <p>
                        <i class="fa fa-envelope-square"></i> hungnm.nuce60@gmail.com
                    </p>
                    <p>
                        <i class="fa fa-phone"></i> 0854204728
                    </p>
                </div><!-- .entry-content -->

                <div class="contact-page-social">
                    <ul class="flex align-items-center">
                        <li><a href="https://www.facebook.com/hungghihi"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/manhhung317"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://github.com/manhhungpm"><i class="fa fa-github-alt"></i></a></li>
                        <li><a href="https://www.instagram.com/hungghihi/"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div><!-- .header-bar-social -->

                <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit">
                    <input type="text" placeholder="Tên" formControlName="name" >
                    <input type="email" placeholder="Email" formControlName="email">
                    <textarea rows="18" cols="6" placeholder="Lời nhắn" formControlName="text"></textarea>
                    <input type="submit" value="Gửi đi">
                </form><!-- .contact-form -->
            </div><!-- .content-wrap -->
        </div><!-- .col -->

        <div class="col-12 col-lg-3">
            <div class="sidebar">
                <div class="recent-posts">
                    <div class="recent-post-wrap">
                        <figure>
                            <img src="assets/images/contact.jpg" alt="">
                        </figure>

                        <header class="entry-header">
                            <div class="posted-date">
                                May 3, 2018
                            </div><!-- .entry-header -->

                            <h3><a href="#">Cuộc thi khởi nghiệp của CLB mạng hệ thống</a></h3>

                            <div class="tags-links">
                                <a href="#">#nuce</a>
                                <a href="#">#ktht</a>
                            </div><!-- .tags-links -->
                        </header><!-- .entry-header -->
                    </div><!-- .recent-post-wrap -->

                    <div class="recent-post-wrap">
                        <figure>
                            <img src="assets/images/anh7.JPG" alt="">
                        </figure>

                        <header class="entry-header">
                            <div class="posted-date">
                                November 20, 2018
                            </div><!-- .entry-header -->

                            <h3><a href="#">Đội dự thi phần mềm nguồn mở</a></h3>

                            <div class="tags-links">
                                <a href="#">#olp</a>
                                <a href="#">#iot</a>
                                <a href="#">#ptit</a>
                                <a href="#">#xanh</a>
                            </div><!-- .tags-links -->
                        </header><!-- .entry-header -->
                    </div><!-- .recent-post-wrap -->
                </div><!-- .recent-posts -->

                <div class="tags-list">
                    <a href="#">Music</a>
                    <a href="#">Love</a>
                    <a href="#">Car</a>
                    <a href="#">Stories</a>
                    <a href="#">Photography</a>
                    <a href="#">Music</a>
                    <a href="#">Car</a>
                </div><!-- .tags-list -->
            </div><!-- .sidebar -->
        </div><!-- .col -->
    </div><!-- .row -->
</div><!-- .container -->
<app-foot></app-foot>