<div class="content-wrap">
  <header class="entry-header">
    <div class="posted-date">
      January 30, 2018
    </div><!-- .posted-date -->

    <h2 class="entry-title">Quang cảnh trên cao của Fukuyama như thế nào?</h2>

    <div class="tags-links">
      <a href="#">#winter</a>
      <a href="#">#love</a>
      <a href="#">#snow</a>
      <a href="#">#january</a>
    </div><!-- .tags-links -->
  </header><!-- .entry-header -->

  <figure class="featured-image">
    <img src="assets/images/anh1.jpg" alt="">
  </figure><!-- .featured-image -->

  <div class="entry-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tortor facilisis,
      volutpat nulla placerat, tincidunt mi. Nullam vel orci dui. Suspendisse sit amet
      laoreet neque. Fusce sagittis suscipit sem a consequat. Proin nec interdum sem. Quisque
      in porttitor magna, a imperdiet est. </p>
  </div><!-- .entry-content -->

  <footer class="entry-footer flex flex-column flex-lg-row justify-content-between align-content-start align-lg-items-center">
    <ul class="post-share flex align-items-center order-3 order-lg-1">
      <label>Share</label>
      <!-- <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li> -->
      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    </ul><!-- .post-share -->

    <a class="read-more order-2" href="#">Đọc thêm</a>

    <div class="comments-count order-1 order-lg-3">
      <a href="#">2 bình luận</a>
    </div><!-- .comments-count -->
  </footer><!-- .entry-footer -->
</div><!-- .content-wrap -->

<div class="content-wrap">
  <header class="entry-header">
    <div class="posted-date">
      January 30, 2018
    </div><!-- .posted-date -->

    <h2 class="entry-title">Tham quan trụ sở sản xuất của Sharp tại Japan</h2>

    <div class="tags-links">
      <a href="#">#winter</a>
      <a href="#">#love</a>
      <a href="#">#snow</a>
      <a href="#">#january</a>
    </div><!-- .tags-links -->
  </header><!-- .entry-header -->

  <figure class="featured-image">
    <img src="assets/images/anh3.JPG" alt="">
  </figure><!-- .featured-image -->

  <div class="entry-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tortor facilisis,
      volutpat nulla placerat, tincidunt mi. Nullam vel orci dui. Suspendisse sit amet
      laoreet neque. Fusce sagittis suscipit sem a consequat. Proin nec interdum sem. Quisque
      in porttitor magna, a imperdiet est. </p>
  </div><!-- .entry-content -->

  <footer class="entry-footer flex flex-column flex-lg-row justify-content-between align-content-start align-lg-items-center">
    <ul class="post-share flex align-items-center order-3 order-lg-1">
      <label>Share</label>
      <!-- <li><a href="#"><i class="fa fa-pinterest"></i></a></li> -->
      <!-- <li><a href="#"><i class="fa fa-linkedin"></i></a></li> -->
      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    </ul><!-- .post-share -->

    <a class="read-more order-2" href="#">Đọc thêm</a>

    <div class="comments-count order-1 order-lg-3">
      <a href="#">2 bình luận</a>
    </div><!-- .comments-count -->
  </footer><!-- .entry-footer -->
</div><!-- .content-wrap -->

<div class="content-wrap">
  <header class="entry-header">
    <div class="posted-date">
      January 30, 2018
    </div><!-- .posted-date -->

    <h2 class="entry-title">Những tiêu chí để làm 1 cán bộ hội tốt?</h2>

    <div class="tags-links">
      <a href="#">#winter</a>
      <a href="#">#love</a>
      <a href="#">#snow</a>
      <a href="#">#january</a>
    </div><!-- .tags-links -->
  </header><!-- .entry-header -->

  <figure class="featured-image">
    <img src="assets/images/anh6.PNG" alt="">
  </figure><!-- .featured-image -->

  <div class="entry-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tortor facilisis,
      volutpat nulla placerat, tincidunt mi. Nullam vel orci dui. Suspendisse sit amet
      laoreet neque. Fusce sagittis suscipit sem a consequat. Proin nec interdum sem. Quisque
      in porttitor magna, a imperdiet est. </p>
  </div><!-- .entry-content -->

  <footer class="entry-footer flex flex-column flex-lg-row justify-content-between align-content-start align-lg-items-center">
    <ul class="post-share flex align-items-center order-3 order-lg-1">
      <label>Share</label>
      <!-- <li><a href="#"><i class="fa fa-pinterest"></i></a></li> -->
      <!-- <li><a href="#"><i class="fa fa-linkedin"></i></a></li> -->
      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    </ul><!-- .post-share -->

    <a class="read-more order-2" href="#">Đọc thêm</a>

    <div class="comments-count order-1 order-lg-3">
      <a href="#">2 bình luận</a>
    </div><!-- .comments-count -->
  </footer><!-- .entry-footer -->
</div><!-- .content-wrap -->