<div class="outer-container">
    <app-head></app-head>
    <div class="container-fluid">
        <app-slider></app-slider>
        <app-ava></app-ava>
    </div>
</div>
<div class="container single-page">
    <div class="row">
        <div class="col-12 col-lg-9">
            <div class="content-wrap" *ngFor="let blog of blogs">
                <header class="entry-header">
                    <div class="posted-date">
                        {{blog.date}}
                    </div><!-- .posted-date -->

                    <h2 class="entry-title">{{blog.title}}</h2>

                    <div class="tags-links">
                        <a href="#">#winter</a>
                        <a href="#">#love</a>
                        <a href="#">#snow</a>
                        <a href="#">#january</a>
                    </div><!-- .tags-links -->
                </header><!-- .entry-header -->

                <figure class="featured-image">
                    <img src="assets/images/anh1.jpg" alt="">
                </figure><!-- .featured-image -->

                <div class="entry-content">
                    <p>{{blog.content}}</p>
                </div><!-- .entry-content -->

                <footer class="entry-footer flex flex-column flex-lg-row justify-content-between align-content-start align-lg-items-center">
                    <ul class="post-share flex align-items-center order-3 order-lg-1">
                        <label>Share</label>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    </ul><!-- .post-share -->

                    <a class="read-more order-2" href="#" [routerLink]="['/blog-detail',blog.blogId]">Đọc thêm</a>

                    <div class="comments-count order-1 order-lg-3">
                        <a href="#">2 bình luận</a>
                    </div><!-- .comments-count -->
                </footer><!-- .entry-footer -->
            </div><!-- .content-wrap -->

            

            <div class="pagination">
                <ul class="flex align-items-center">
                    <li class="active"><a href="#">01.</a></li>
                    <li><a href="#">02.</a></li>
                    <li><a href="#">03.</a></li>
                </ul>
            </div>
        </div><!-- .col -->

        <div class="col-12 col-lg-3">
            <div class="sidebar">
                <div class="about-me">
                    <h2>Chào mừng bạn đến với Blog của mình</h2>

                    <p>ssssssssssssssss.</p>
                </div><!-- .about-me -->

                <div class="recent-posts">
                    <div class="recent-post-wrap">
                        <figure>
                            <img src="assets/images/anh4.JPG" alt="">
                        </figure>

                        <header class="entry-header">
                            <div class="posted-date">
                                October 10, 2018
                            </div><!-- .entry-header -->

                            <h3><a href="#">Đầm chuồn </a></h3>

                            <div class="tags-links">
                                <a href="#">#iot</a>
                                <a href="#">#hue</a>
                                <a href="#">#nckh</a>
                                <a href="#">#thuyen</a>
                            </div><!-- .tags-links -->
                        </header><!-- .entry-header -->
                    </div><!-- .recent-post-wrap -->

                    <div class="recent-post-wrap">
                        <figure>
                            <img src="assets/images/anh7.JPG" alt="">
                        </figure>

                        <header class="entry-header">
                            <div class="posted-date">
                                November 25, 2018
                            </div><!-- .entry-header -->

                            <h3><a href="#">Olympic Phần mềm nguồn mở</a></h3>

                            <div class="tags-links">
                                <a href="#">#olp</a>
                                <a href="#">#ptit</a>
                                <a href="#">#pmnm</a>
                                <a href="#">#iot</a>
                            </div><!-- .tags-links -->
                        </header><!-- .entry-header -->
                    </div><!-- .recent-post-wrap -->

                    <div class="recent-post-wrap">
                        <figure>
                            <img src="assets/images/anh8.JPG" alt="">
                        </figure>

                        <header class="entry-header">
                            <div class="posted-date">
                                January 30, 2018
                            </div><!-- .entry-header -->

                            <h3><a href="#">Nghiên cứu khoa học 2018- Xe tự lái</a></h3>

                            <div class="tags-links">
                                <a href="#">#nckh</a>
                                <a href="#">#iot</a>
                                <a href="#">#arduino</a>
                                <a href="#">#xetulai</a>
                            </div><!-- .tags-links -->
                        </header><!-- .entry-header -->
                    </div><!-- .recent-post-wrap -->

                    <div class="recent-post-wrap">
                        <figure>
                            <img src="assets/images/anh9.JPG" alt="">
                        </figure>

                        <header class="entry-header">
                            <div class="posted-date">
                                September 25, 2018
                            </div><!-- .entry-header -->

                            <h3><a href="#">Ẩm thực</a></h3>

                            <div class="tags-links">
                                <a href="#">#japan</a>
                                <a href="#">#food</a>
                                <a href="#">#sakura</a>
                                <a href="#">#september</a>
                            </div><!-- .tags-links -->
                        </header><!-- .entry-header -->
                    </div><!-- .recent-post-wrap -->
                </div><!-- .recent-posts -->

                <div class="tags-list">
                    <a href="#">Music</a>
                    <a href="#">Love</a>
                    <a href="#">Car</a>
                    <a href="#">Stories</a>
                    <a href="#">Photography</a>
                    <a href="#">Sport</a>
                    <a href="#">Dev</a>
                </div><!-- .tags-list -->


            </div><!-- .sidebar -->
        </div><!-- .col -->
    </div><!-- .row -->
</div><!-- .container -->

<app-foot></app-foot>